<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: aquamarine;
            text-align: center;
            margin:auto;
            height: 1000px;
            width: 100%;
            padding-top: 200px;
        }
        .container .mb-3.form-text{
            text-align: center;

        }
       
    </style>
</head>
<body>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <div class="emailHelp" class="form-text"><h1>Please ask Question</h1></div>
                <!-- <label for="exampleInputEmail1"class ="form-label">Question</label> -->
                <textarea name="question" class="form-control"id="exampleInputEmail1"rows="5" aria-describedby="emailHelp"></textarea>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            
        </form>

    </div>
</body>
</html>